<html>
<head>
<meta name="viewport" content="width=640px, user-scalable=no">
<title>Shootem 1</title>
<!-- LIB STATICS -->
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/clear.css" >
	<script type="text/javascript" src="js/lib/jquery-1.11.3.js"></script>
	<!-- OWN STATICS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div class="container">
	<div class="row toprow"></div>
	<div class="row">
		<div class="col-lg-4 donot-select">
			<h1>Soul spender</h1>
			<ul>
				<li>no upgrades yet</li>
			</ul>
		</div>
		<div class="col-lg-8 canvas-container" >
			<div id="cnx-holder" >
				<canvas id="cnx"  width="640px" height="480px" style=""></canvas>
			</div>
		</div>
	</div>
	<div class="row scoretext-row">
		<div class="col-lg-6">
			<h1 class="donot-select">Score: </h1>
		</div>
		<div class="col-lg-6 scoretext-col">
			<h2><span class="donot-select" id="scoretext">0</span></h2>
		</div>
	</div>
</div>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</hmtl>